@model EgiTrails.Models.Trilhos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trilhos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTrilho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTrilho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trajeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trajeto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrilhosId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
