@model PaginatedList<EgiTrails.Models.Trilhos>

@{
    ViewData["Title"] = "Index";
}

<h1>Trilhos</h1>

<p>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
<p>
    Procurar pelo nome: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
    <input type="submit" value="Pesquisar" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-secondary">Limpar</a>
    <a asp-action="Index" class="btn btn-success">Mostrar Lista Completa</a>
</p>
    </div>
</form>


<a asp-action="Create" type="button" class="btn btn-primary" style="margin-bottom:30px">Adicionar Trilho</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NomeSortParm"]">@Html.DisplayNameFor(model => model.First().Nome)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TipoTrilhoSortParm"]">@Html.DisplayNameFor(model => model.First().TipoTrilho)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TrajetoSortParm"]">@Html.DisplayNameFor(model => model.First().Trajeto)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DistanciaSortParm"]">@Html.DisplayNameFor(model => model.First().Distancia)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LocIniSortParm"]">@Html.DisplayNameFor(model => model.First().LocIni)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LocInterSortParm"]">@Html.DisplayNameFor(model => model.First().LocInter)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LocFimSortParm"]">@Html.DisplayNameFor(model => model.First().LocFim)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LimMaxPesSortParm"]">@Html.DisplayNameFor(model => model.First().LimMaxPes)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoTrilho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trajeto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distancia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocIni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocInter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocFim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LimMaxPes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TrilhosId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.TrilhosId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.TrilhosId">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Seguinte
</a>