@model EgiTrails.Models.Reservas

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Tem a certeza que deseja eliminar este item?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NPessoas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NPessoas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoVeiculo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoVeiculo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservasId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Retroceder</a>
    </form>
</div>
