@model IEnumerable<EgiTrails.Models.Veiculos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumLugares)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumLugares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VeiculosId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VeiculosId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VeiculosId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
